body {
    color: yellow;
    background-image: url('stars-in-night-sky.jpg');
}

@font-face {
    font-family: 'STARWARS';
    src: url('STARWARS.ttf') format('truetype');
}

h1, p, table {
    font-family: 'STARWARS', sans-serif;
}

#turn-page span {
    padding: 0 2px 0 2px;
}

.btn-primary, .btn-default {
    border-radius: 5px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #428bca;
}

.modal-content {
    background-color: black;
    border-style: solid;
    border-color: white;
}