@font-face {
    font-family: 'STARWARS';
    src: url('STARWARS.ttf') format('truetype');
}

h1, p, table {
    font-family: 'STARWARS', sans-serif;
}

#turn-page span {
    padding: 0 2px 0 2px;
}

.btn-primary {
    border-radius: 5px;
}