<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The World of Star Wars</title>
    
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <!-- IMPORTANT: import bootstrap.min.js for modals, and import it after jquery -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    <script src="{{url_for('static', filename='table_handler.js')}}" defer></script>
    <script src="{{url_for('static', filename='main.js')}}" defer></script>
    
</head>
<body>
    <!--navigation bar-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="/">Planet List</a></li>
                {% if not username %}
                <li><a href="/registration">Registration</a></li>
                <li><a href="/login">Login</a></li>
                {% endif %}
                {% if username %}
                <li><a href="/logout">Logout</a></li>
                {% endif %}
                <li><a href="#">Voting Statistics</a></li>
            </ul>
            {% if username %}
            <p class="navbar-text pull-right" id="identification" data-nameofuser="{{username}}">{{username}}</p>
            {% endif %}
        </div>
    </nav>

    {% if registration_succeeded %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Registration succeeded! The force will be with you. Always. Just log in.</strong>
        </div>
    {% endif %}

    <header class="container">
        <div class="row">
            <h1 class="col-sm-12">STAR WARS UNIVERSE PLANETS</h1>
        </div>
    </header>
    
    <!--tables-->
    <section class='container'>
        <div id='turn-page'>
        </div>
        <br>
        <table class="table-bordered table-hover table-condensed table-responsive" id="table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Diameter</th>
                    <th>Climate</th>
                    <th>Terrain</th>
                    <th>Surface Water Percentage</th>
                    <th>Population</th>
                    <th>Residents</th>
                    {% if username %}
                    <th>Vote</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="table-body">
                <!--here come table rows from Javascript-->
            </tbody>
        </table>
    </section>

    <!--residents modal-->
    <div class="modal fade" id="residentsModal" tabindex="-1" role="dialog" aria-labelledby="residentsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel"></h4>
                </div>
                
                <div class="modal-body">
                    <table class="table-bordered table-hover table-condensed table-responsive" id="residents-table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Height</th>
                                <th>Mass</th>
                                <th>Skin</th>
                                <th>Hair</th>
                                <th>Eye</th>
                                <th>Birth year</th>
                                <th>Gender</th>
                            </tr>
                        </thead>
                        <tbody id="residents-table-body">
                            <!--here come table rows from Javascript-->
                        </tbody>
                    </table>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>